<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created and deployed as part of a udemy course by Syed Jamal. It uses mapbox and weatherstack api's to get weather data to users.</p>
        <img src="/img/robot.jpg" class="photo">
    </div>

    {{>footer}}


</body>

</html>